.sorting {
    width: 350px;
    height: 110px;

}
.sorting--h {
    margin-bottom: 4px;
}

.sorting--type {
    display: flex;
    justify-content: space-around;
}

.sorting--type button {
    width: 32%;
    padding: 5px;
    margin-bottom: 14px;
    border: 1px solid darkgray;
}

.sorting--type button.active,
.sorting--order button.active {
    border: 3px solid darkgoldenrod;
    outline: none;
}

.sorting--order {
    display: flex;
    justify-content: space-around;
}

.sorting--order button {
    width: 49%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid darkgray;
}


