.view {
    width: 250px;
    height: 110px;
    margin-left: auto;

}

.view__header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.view__change-language button {
    height: 20px;
    font-size: 12px;
}

.view--type {
    display: flex;
    height: calc(100% - 42px);

}

.view--type button {
    width: 100%;
    padding: 5px;
    align-items: stretch;
    border: 1px solid darkgray;
}